<h1> Hello From App Components</h1>

<!-- One Way Data Binding Example
    - Data Interpolation {{ }}
    - Property Binding  [ ] 
    - attribute Binding [attr.]
    - Event Binding (click)
-->

<!-- Data Interpolation -->
<p>{{userName}}</p>
<p>user Email : {{ userEmail}}</p>
<p>user Phone : {{ userPhone}}</p>

<!-- Property Binding -->
<p>user Status : {{ userStatus ? 'Active' : 'Inactive' }}</p>
<button [disabled] ="userStatus "> 
  Click Me brx 
</button>

<!-- Attribute Binding -->
<p [attr.data-user] = "dataStatus"> 
  User Name : {{ userName }}

  <!-- event binding  -->
  <button (click)="getapi()"> 
    Toggle Status
  </button> 