<h1> Hello From App Components</h1>

<!-- One Way Data Binding Example
    - Data Interpolation {{ }}
    - Property Binding  [ ] 
    - attribute Binding [attr.]
    - Event Binding (e.g. click)
    - Directives (ngIf, ngFor, ngSwitch)
    - ngNonBindable
    - class Binding
-->

<!-- Data Interpolation -->
<p>{{userName}}</p>
<p>user Email : {{ userEmail}}</p>
<p>user Phone : {{ userPhone}}</p>

<!-- Property Binding -->
<p>user Status : {{ userStatus ? 'Active' : 'Inactive' }}</p>
<button [disabled] ="userStatus "> 
  Click Me brx 
</button>

<!-- Attribute Binding -->
<p [attr.data-user] = "dataStatus"> 
  User Name : {{ userName }}

  <!-- event binding  -->
  <button (click)="getapi()"> Toggle Status1  </button> 
  <button  class = "btn btn-black" (click)="getapi()"> Toggle Status2  </button>
  <input type="text" class="form-control" (keydown)="showAlert()"/>
  <input type="text" class="form-control" (input)="showAlert2($event)"/>
  <input type="text" class="form-control" (keydown.e)="showAlert2($event)"/>
  <input type="text" class="form-control" (keydown.control.c)="showAlert2($event)" (keydown)="getapi()"/>


  <!-- ay 7aga btbdi b ng btb2a directive -->
  <!-- ngIf Directive -->
  <!-- de 3lsha law 3ayez aktb 7aga w m3mlsh 3aleha binding-->
  <p ngNonBindable> {{userName}}</p>
  <p> {{userName}}</p>


  <!-- class  binding -->

  <!-- da hna by2olk a3mel class gowa el bta3 da msh 3aref lesa bstkhdmo fe eh bas da option m3ana-->
  <p [class]="'active'"> ahmed samir </p>

  <!-- de hna by2olk a3mel class based 3ala condition law true a3mlo active law false a3mlo inactive-->
  <p [class]="isTrue? 'active' : 'inactive'"> ahmed samir0 </p>

  <!-- tyb law 3ayez a3mlo law true a3mlo law msh trrue mt3mlsh fa hktbholk wara b3d 3lshan tfham el syntax aktr-->
   <!-- dol kolohom nafs el 7aga bas bkhtlaf el syntax -->
    <!-- khoud balak 3lshan t3mel class binding howa byb2a montzer mnk bas esm el class bas enma fl style htfre2 showaya -->
  <p [class.active]="isTrue"> ahmed samir1 </p>
  <p [class]="isTrue? 'active' : ''"> ahmed samir2 </p>
  <p [class.active]="isTrue === true"> ahmed samir3 </p>

  <p [class.inactive]="!isTrue"> ahmed samir4 </p>


  <!-- style binding -->
  <!-- hna fl style binding howa montazer mnk 7agetn msh 7aga wa7da fl class binding howa kan fl awl montazer mnk 7aga wa7da ely hia esm el class enma fl style howa montazer mnk 
   7agten awl 7aga asm el property w el value bt3ha tyb el property zai eh zai maslan el color -->
  <p [style.color]="isTrue ? 'green' : 'red'"> ahmed samir5 </p>
  <p [style.color]="isTrue ? 'green' : 'red'" [style.fontSize.px]="20"> ahmed samir6 </p>
  <p [style.color]="isTrue ? 'green' : 'red'" [style.fontSize.px]="20" [style.fontWeight]="'bold'"> ahmed samir7 </p>
  <p [style.color]="isTrue ? 'green' : 'red'" [style.fontSize.px]="20" [style.fontWeight]="'bold'" [style.textDecoration]="'underline'"> ahmed samir8 </p>
  <p [style]="isTrue ? 'color:green' : 'color:red'"> ahmed samir9 </p>


<!------------------------------------------------------------------------------------------------------------------------------->


<!-- two way data binding    (Ng Model)-->

 <!-- 3lshan twadi el value ely httktb fl input w twdeha lel .ts class lazem t3mel import fl .ts b2esm FormsModule -->
 <input type="text" placeholder="search" [(ngModel)]="searchInput" />
 
 <!-- attribute directives-->
 {{searchInput}}

 <p  [ngClass]="{ 'bg-danger':isTrue, 'text-center': 10>5   }"> 
  User Name is 1 : {{userName}}

  <P [ngClass]="{ 'bg-success':isTrue, 'text-center': 10>5   }"> 
    User Email is 2 : {{userEmail}}
  </P>

    <P [ngClass]="{ 'bg-success':isTrue, 'text-center': 10>5 && isTrue === true }"> 
    User Email is 3 : {{userEmail}}
  </P>


<p [ngStyle]="{ 'color': isTrue ? 'yellow' : 'blue' }"> sadhjashdkhsad  </p>



<!-- #region -->

<!-- Structure Dirctives -->
 <p> Stucture Directives</p>
  <p *ngIf="userStatus"> User is Active1 </p>


  <div [ngSwitch]="userRole">
    <p *ngSwitchCase="'admin'"> User is Active admin 2 </p>
    <p *ngSwitchCase="'user'"> User is active user 2</p>
    <p *ngSwitchDefault> User is active default 2</p>
  </div>


  <!-- ngFor Directive -->
  <div *ngFor="let friend of friends; let i = index">
    <p> {{i + 1}} - {{friend}} </p>
  </div>


  <!-- khoud balak mynf3sh n7out div gowa div w 3lshan kda 3mlna container 3lshan n7out fe div -->
  <ng-container *ngIf="products.length > 0; else productIsEmpty">

  <div *ngFor="let product of products; let i = index ; let co = count; trackBy: trackById" class="card" >
    <p> {{i + 1}} - {{product.name}} - {{product.price}} </p>
    <img [src]="product.image" alt="{{product.name}}" width="100" />
    <p> Total Count {{co}}</p>

  </div>
  </ng-container>

      <button class="btn btn-danger" (click)="updateProduct()"> Update Product </button>


  <ng-template #productIsEmpty>
    <h2 class="bg-danger text-center"> No Products Available </h2>
  </ng-template>







